<ion-header>
  <ion-navbar>
    <date></date>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="eat-type">
    <ion-grid>
      <ion-row text-center>
        <ion-col>
          <button (click)="showBottleDetail=!showBottleDetail">
              <svg-icon src="../assets/icon/bottle-fed.svg"></svg-icon>
          </button>
        </ion-col>
        <ion-col>
          <button (click)="showMotherDetail=!showMotherDetail">
            <svg-icon src="../assets/icon/breast-fed.svg"></svg-icon>
          </button>
          <div *ngIf="showBreastDetail">
            <ion-row text-center>
              <ion-col>
                <button>
                    <ion-checkbox color="dark" [(ngModel)]="eat.breastSideLeft">Left</ion-checkbox>
                </button>
              </ion-col>
              <ion-col>
                  <button>
                     <ion-checkbox [(ngModel)]="eat.breastSideRight">Right</ion-checkbox>
                  </button>
                </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <bottle-form *ngIf="showBottleDetail"></bottle-form>
  <mother-form *ngIf="showMotherDetail"></mother-form>

  <journal></journal>

  <!--  Breast Details  -->
  <!--<div *ngIf="showBreastDetail">
    <timer></timer>
    <timer-buttons></timer-buttons>
  </div>-->

  <!--  Bottle Details  -->
    <!--

    <ion-list>
      <div class="nipple-size">
          <page-eat></page-eat>
      </div>
    </ion-list>
  </div>

  {{eat | json}}

  

  <div class="journal">
    <h4>Food Journal:</h4>
    <ion-list>
      <div class="eat-log">
        <ion-card>
          <ion-card-header>
            Date
          </ion-card-header>
          <ion-card-content>
            Details
          </ion-card-content>
        </ion-card>
      </div>
    </ion-list>
  </div>-->

</ion-content>
