<ion-header>
  <ion-navbar>
    <date></date>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="eat-type">
    <ion-grid>
      <ion-row text-center>
        <ion-col>
          <button (click)="showBottleDetail=!showBottleDetail">
              <svg-icon src="../assets/icon/bottle-fed.svg"></svg-icon>
          </button>
        </ion-col>
        <ion-col>
          <button (click)="showBreastDetail=!showBreastDetail">
            <svg-icon src="../assets/icon/breast-fed.svg"></svg-icon>
          </button>
          <div *ngIf="showBreastDetail">
            <ion-row text-center>
              <ion-col>
                <button>
                    <svg-icon src="../assets/icon/left.svg"></svg-icon>
                </button>
              </ion-col>
              <ion-col>
                  <button>
                      <svg-icon src="../assets/icon/right.svg"></svg-icon>
                  </button>
                </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

    <!--  Breast Details  -->
  <div *ngIf="showBreastDetail">
    <timer></timer>
    <timer-buttons></timer-buttons>
  </div>

  <!--  Bottle Details  -->
  <div *ngIf="showBottleDetail">
    <div class="ounces-eaten">
      <div class="ouncesEaten">
        <ion-label>Ounces Eaten: {{ ouncesEaten }}</ion-label>
      </div>
      <ion-range
        min="0" 
        max="16" 
        step="1" 
        snaps="true" 
        color="secondary" 
        [(ngModel)]="ouncesEaten"></ion-range>
    </div>

    <ion-list>
      <div class="nipple-size">
          <ion-label>Nipple Size:</ion-label>         
            <button ion-button>1</button>
            <button ion-button>2</button>
            <button ion-button>3</button>
            <button ion-button>4</button>
            <button ion-button>5</button>
            <button ion-button>6</button>
      </div>
    </ion-list>
  </div>

  <div class="eat-submit">
    <button type="submit" ion-button large (click)="eatLogSubmit()">Submit</button>
  </div>

  <div class="journal">
    <h4>Food Journal:</h4>
    <ion-list>
      <div class="eat-log">
        <ion-card>
          <ion-card-header>
            Date
          </ion-card-header>
          <ion-card-content>
            Ounces Eaten:
          </ion-card-content>
        </ion-card>
      </div>
    </ion-list>
  </div>

</ion-content>
