page-eat {

}

.breastSide {
    padding-top: 10px;
}

.ounces-eaten {
    padding-top: 10px;
    padding-bottom: 20px;
}

.range-slider .range-tick-active{
    background-color: #00B9E6;
}

.range-slider .range-bar-active{
    background-color: #00B9E6;
}

.range-slider .range-knob {
    background-color: #00B9E6;
};

.nipple-size .button {
    background-color: #FF0068;
}

.nipple-size-buttons {
    text-align: center;
}

.eat-submit {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eat-submit .button {
    background-color: #00B9E6;
}

.journal {
    padding-top: 40px;
}

.eat-log{
    padding-top: 5px;
}