@font-face {
    font-family: Orbitron;
    src: url('../../assets/fonts/orbitron-timer.woff2');
    color: #FF0068;
}

h1 {
    font-family: Orbitron;
    src: url('../../assets/fonts/orbitron-timer.woff2');
    color: #FF0068;
    margin-top: 24px; 
    text-align: center;
    font-size: 40px;
    padding-top: 15px;
}
