.stopwatch {
  text-align: center;
  color: #5f5a5a;
}

p {
  margin-top: 30px;
  margin-bottom: 60px;
	display: inline-block;
	font-size: 6em;
	font-weight: 600;
	position: relative;
	
	&::after {
		font-size: 0.18em;
		font-weight: 600;
		letter-spacing: 1px;
		position: absolute;
		left: 10%;
		text-transform: uppercase;
		top: 100px;
	}
	
	&#minutes::after {
		content: 'Minutes';
    color: #869FA4;
	}
	&#seconds::after {
		content: 'Seconds';
    color: #869FA4;
	}
}

span.divider {
	font-size: 6em;
	font-weight: 400;
	margin: 0 10px;
  color: #869FA4;
}