.stopwatch {
  text-align: center;
  color: #50E3C2;
}

p {
  margin-top: 30px;
  margin-bottom: 60px;
	display: inline-block;
	font-size: 6em;
	font-weight: 600;
	font-feature-settings: "tnum" on;
	font-variant-numeric: tabular-nums;
	position: relative;
	
	&::after {
		// color: darken($clouds, 35%);
		font-size: 0.18em;
		font-weight: 600;
		letter-spacing: 1px;
		position: absolute;
		left: 10%;
		text-transform: uppercase;
		top: 100px;
	}
	
	&#minutes::after {
		content: 'Minutes';
	}
	&#seconds::after {
		content: 'Seconds';
	}
}

span.divider {
	// color: darken($clouds, 35%);
	font-size: 6em;
	font-weight: 400;
	margin: 0 10px;
}

.hours {
  color: #FF0068;
  font-size: 60px;
}

.minutes {
  color: #FF0068;
  font-size: 60px;
}

.seconds {
  color: #bcbcbc;
  font-size: 60px;
}